@model HRMgmt.Models.Payroll

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Payroll</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PayPeriodStart" class="control-label"></label>
                <input asp-for="PayPeriodStart" class="form-control" />
                <span asp-validation-for="PayPeriodStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayPeriodEnd" class="control-label"></label>
                <input asp-for="PayPeriodEnd" class="form-control" />
                <span asp-validation-for="PayPeriodEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegularHours" class="control-label"></label>
                <input asp-for="RegularHours" class="form-control" />
                <span asp-validation-for="RegularHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OvertimeHours" class="control-label"></label>
                <input asp-for="OvertimeHours" class="form-control" />
                <span asp-validation-for="OvertimeHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SickHours" class="control-label"></label>
                <input asp-for="SickHours" class="form-control" />
                <span asp-validation-for="SickHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalHours" class="control-label"></label>
                <input asp-for="TotalHours" class="form-control" />
                <span asp-validation-for="TotalHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrossPay" class="control-label"></label>
                <input asp-for="GrossPay" class="form-control" />
                <span asp-validation-for="GrossPay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
