@{
    ViewData["Title"] = "Home";
}

<div class="landing-container">
    <div class="landing-message">
        <h2>Welcome to HR Management!</h2>
        <p>Please sign-up or log in.</p>
    </div>
</div>
